<h1>Listing title_assets</h1>

<table>
  <thead>
    <tr>
      <th>Asset</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @title_assets.each do |title_asset| %>
      <tr>
        <td><%= title_asset.asset_id %></td>
        <td><%= title_asset.title_id %></td>
        <td><%= link_to 'Show', title_asset %></td>
        <td><%= link_to 'Edit', edit_title_asset_path(title_asset) %></td>
        <td><%= link_to 'Destroy', title_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Title asset', new_title_asset_path %>
