<p id="notice"><%= notice %></p>

<p>
  <strong>Asset:</strong>
  <%= @title_asset.asset_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @title_asset.title_id %>
</p>

<%= link_to 'Edit', edit_title_asset_path(@title_asset) %> |
<%= link_to 'Back', title_assets_path %>
