<p id="notice"><%= notice %></p>

<p>
  <strong>Assetvalue:</strong>
  <%= @asset.assetValue %>
</p>

<p>
  <strong>Assettype:</strong>
  <%= @asset.assetType %>
</p>

<p>
  <strong>Title:</strong>
  <%= @asset.title_id %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
