<div id="dashboard_bg" class="dashboard_bg"/>
  <br/><br/>
  <div class="container" >
    <div class="well" >

			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Assetvalue:</strong>
			  <%= @asset.assetValue %>
			</p>

			<p>
			  <strong>Assettype:</strong>
			  <%= @asset.assetType %>
			</p>

			<% if @isAdmin == 1 %>
				<%= link_to 'Edit', edit_asset_path(@asset) %> |
			<% end %>
			<%= link_to 'Back', assets_path %>
	</div>
  </div>
</div>
