<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @title_actor.title_id %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @title_actor.actor_id %>
</p>

<%= link_to 'Edit', edit_title_actor_path(@title_actor) %> |
<%= link_to 'Back', title_actors_path %>
